export(
"chi2.Dirichlet",
"chi2.empirical",
"chi2.plugin",
"chi2.shrink",
"chi2indep.Dirichlet",
"chi2indep.empirical",
"chi2indep.plugin",
"chi2indep.shrink",
"Gstat",
"Gstatindep",
"chi2stat",
"chi2statindep",
"discretize", 
"discretize2d", 
"entropy",
"entropy.ChaoShen",
"entropy.Dirichlet",
"entropy.empirical",
"entropy.MillerMadow",
"entropy.NSB",
"entropy.plugin",
"entropy.shrink",
"freqs",
"freqs.Dirichlet",
"freqs.empirical",
"freqs.shrink",
"mi.Dirichlet",
"mi.empirical",
"mi.plugin",
"mi.shrink",
"KL.Dirichlet",
"KL.empirical",
"KL.plugin",
"KL.shrink"
)
importFrom("stats", "pchisq")
